chapter_2/three_blind_mice
chapter_2/age_in_months
chapter_2/celcius_to_fahrenheit
chapter_2/lightyears_to_astronomical_units
chapter_2/display_time
chapter_3/int_limits
chapter_3/chartype
chapter_3/bondini
chapter_3/morechar
chapter_3/modulus
chapter_3/bmi
chapter_3/inches_to_feet
chapter_3/decimal_latitude
chapter_3/mpg_calc
chapter_3/percent_of_world_pop
chapter_3/seconds_to_time
chapter_4/yams
